footer(
  class="flex flex-row self-stretch py-4 px-8 gap-4 bg-gray-800 text-blue-50 justify-center"
)
  .span
    | Made with&nbsp;
  icon(
    name="heart"
  )
  .span
    | &nbsp;by&nbsp;
  a(
    href="https://leviwheatcroft.com.au"
  )
    | Levi
  .span
    | .
