footer(
  class="self-stretch py-4 bg-gray-800 text-blue-50"
)
  .made-by(
    class="mx-auto flex flex-row justify-center"
  )
    .span
      | Made with&nbsp;
    icon(
      name="heart"
    )
    .span
      | &nbsp;by&nbsp;
    a(
      href="https://leviwheatcroft.com.au"
    )
      | Levi
    .span
      | .
