.page.page-dashboard
  .container
    entry-input
    duration-by-day
    entry-list(
      :entries="entries"
      :clickTagHandler="clickTagHandler"
      :clickDateHandler="clickDateHandler"
      :fieldsToggleBoundaries="fieldsToggleBoundaries"
    )
