@import "../../styles/colors.less";

.tag-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-color: @dark;
  border-radius: 3px;
  height: 3.4rem;
  width: 100%;
  // margin: 0 1.2rem;
  // padding: 1px;
  .icon-container {
    flex-grow: 0;
    > svg {
      width: 1.8rem;
      height: 1.8rem;
      top: 2px;
    }
  }
  &:focus-within {
    outline: 1px auto @grey;
  }
  .tag-partial-container {
    flex-grow: 0;
    position: relative;
    // margin: 0 1.2rem;

    input {
      // background-color: blue;
      border: none;
      outline: none;
      padding: 0.6rem;
    }
    .tag-suggestions {
      z-index: 1;
      position: absolute;
      top: 2.4rem;
      background-color: @green;
      width: 100%;
      cursor: pointer;
      .tag-suggestion {
        padding: 1.2rem;
      }
    }
  }
  .spacer {
    flex-grow: 1;
    cursor: text;
  }
  .tag-container {
    flex-grow: 0;
    display: flex;
    flex-direction: flex-row;
    align-items: center;
    .tag {
      background-color: @green;
      padding: 0.3rem;
      margin: 0.3rem;
      border-radius: 3px;
      svg {
        width: 1.4rem;
        height: 1.4rem;
        position: relative;
        top: 0px;
        margin: 0 6px;
      }
    }
  }
}
