selector-base(
  :extraClasses="extraClasses"
  :allowNewItem="allowNewItem"
  :isMultiItem="isMultiItem"
  :items="items"
  @updateItems="$emit('updateItems', $event)"
  :itemsQuery="projectsQuery"
  :inputTabindex="inputTabindex"
)
  template(v-slot:icon-item)
    icon(
      class="m-1"
      name="folder"
    )
