#app {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  .page {
    flex: 1;
  }
  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.container {
  width: 100%;
  max-width: 960px;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.6rem 0;
  &.justify-center {
    justify-content: center;
  }
  &.justify-end {
    justify-content: flex-end;
  }
  &.justify-start {
    justify-content: flex-start;
  }
  &.justify-between {
    justify-content: space-between;
  }
  .grow,
  .spacer {
    flex-grow: 1;
  }
  .no-grow {
    flex-grow: 0;
  }
  > * {
    margin: 0 0.6rem;
  }
}
