@import "../../styles/colors.less";

.entry-display {
  display: flex;
  flex-direction: flex-row;
  align-items: flex-start;
  .date,
  .tag,
  .duration {
    padding: 0.6rem;
    margin: 0.6rem;
    border-radius: 3px;
  }
  .duration {
    background-color: @blue;
  }
  .date {
    background-color: @blue;
  }
  .tag {
    background-color: @green;
  }
  .description {
    padding: 0.6rem;
    margin: 0.6rem;
  }
}
