.entry-display
  .date(
    v-if='entry.date'
    @click="$emit('clickDate', entry.date)"
  ) {{ $dayjs(entry.date).format('D MMM') }}
  .duration(v-if='entry.duration').
    {{
      $dayjs.duration({
        h: Math.floor(entry.duration / 60),
        m: entry.duration % 60
      }).format('HH:mm')
    }}
  .description(@click="$emit('edit')") {{ entry.description }}
  .spacer
  .tag(
    v-for='tag in entry.tags'
    @click="$emit('clickTag', tag.tag)"
  ) {{ tag.tag }}
