
@light-100: rgb(100%, 100%, 100%);

@dark-60: rgb(40%, 40%, 40%);

@grey: #808080;
@dark: #303030;
@dark-font: #202020;
@light: whitesmoke;
@green: #d0ffd0;
@blue: #d0d0ff;
@unfocusField: #f0f0f0;
@focusField: #c0c0ff;
@white: #ffffff;
@red: rgb(100%, 0%, 0%);

@light10: rgb(10%, 10%, 10%);
@light20: rgb(20%, 20%, 20%);
@light40: rgb(40%, 40%, 40%);
@light60: rgb(60%, 60%, 60%);
@light80: rgb(80%, 80%, 80%);
@light90: rgb(90%, 90%, 90%);
@light100: rgb(100%, 100%, 100%);

@font-color: #303030;

// https://www.colourlovers.com/palette/57650/She_Sells_Seashells.
@smallest-conch: #FFEFD3;
@thought-process: #FFFEE4;
@color-thought-process: #FFFEE4;
@not-you-its-me: #D0ECEA;
@figures: #9FD6D2;
@color-figures: #9FD6D2;
@761-espresso: #8B7A5E;

@wib-1: #E2E8F3;
@wib-2: #CAD7E2;
@wib-3: #ABC7E2;
@wib-4: #89B7E2;
@wib-5: #5EA3E2;

@hue: 230;
@sat: 0.8;
@lum: 0.6;

@color-alpha: hsl(230, 0.80, 0.60);
@color-panel: lighten(@color-alpha, 38%);
@color-beta: @thought-process;
@color-gamma: @not-you-its-me;
@color-delta: @figures;
@color-epsilon: @761-espresso;
