.recent-entry
  EntryEdit(
    v-if='editing'
    :entry='entry'
    @unedit='editing = false'
  )
  EntryDisplay(
    v-if='!editing'
    :entry='entry'
    :clickTagHandler="clickTagHandler"
    :clickDateHandler="clickDateHandler"
    @edit='editing = true'
  )
