.entry-list
  fields(
    :fieldsToggle="fieldsToggle"
    :fieldsToggleBoundaries="fieldsToggleBoundaries"
  )
  entry-list-item(
    v-for="entry in entries"
    :key="entry.id"
    :entry="entry"
    :clickTagHandler="clickTagHandler"
    :clickDateHandler="clickDateHandler"
    :clickUserHandler="clickUserHandler"
    :fieldsToggle="fieldsToggle"
  )
  .loading(
    v-if="loading"
  )
    | Loading more entries ...
    .icon-container.spin
      icon-loader
