.entry-new
  .row
    date-picker(
      v-model='date'
      format='DD/MM/YY'
      type='date'
    )
  .row
    input.duration(v-model='duration')
    input.description(v-model='description')
    button.submit(@click='submit') Send
  .row
    EntryTagInput(
      :tagNames='tagNames'
      @tagAdded='tagAdded'
      @tagRemoved='tagRemoved'
    )
