.entry-new
  .row
    .date {{ $dayjs(date).format('DD MMM') }}
  .row
    input.duration(v-model='duration')
    input.description(v-model='description')
    button.submit(@click='submit') Send
  .row
    EntryTagInput(
      :tagNames='tagNames'
      @tagAdded='tagAdded'
      @tagRemoved='tagRemoved'
    )
