.page.page-report
  .container
    report-filters
    entry-list(
      :clickDateHandler="clickDateHandler"
      :clickTagHandler="clickTagHandler"
      :clickUserHandler="clickUserHandler"
      :entries="entries"
      :fetchMoreEntries="fetchMoreEntries"
      :fieldsToggleBoundaries="fieldsToggleBoundaries"
      :loading="loading"
    )
