// heavily styled, repetitive items. Tailwind is unmanageable.
.fields {
  .icon-container {
    color: @light60;
    display: inline;
    cursor: pointer;
    border: 2px solid @light40;
    margin-left: -2px;
    padding: 0.3rem;
    &:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      margin-left: 0;
    }
    &:last-child {
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
    }
    &.active {
      background-color: @light90;
      color: @light10;
    }
  }
}
