.page.page-report
  .container
    report-filters
    entry-list(
      :entries="entries"
      :fieldsToggleBoundaries="fieldsToggleBoundaries"
      :clickTagHandler="clickTagHandler"
      :clickDateHandler="clickDateHandler"
      :clickUserHandler="clickUserHandler"
      :showUser="true"
    )
