.page.page-report
  .container
    ReportFilters
    EntryList(
      :entries="entries"
      :clickTagHandler="clickTagHandler"
      :clickDateHandler="clickDateHandler"
      :clickUserHandler="clickUserHandler"
      :showUser="true"
    )
