.report-filters.input-box
  .row
    .container-datepicker.no-grow
      .faux-input
        .icon-container
          icon-calendar
        date-picker(
          :input-attr="{ tabindex: 1 }"
          :clearable="true"
          v-model='dateRange'
          type='date'
          range
          format='DD/MM/YY'
        )
          template(
            v-slot:icon-calendar
          )
            .empty
          template(
            v-slot:icon-clear
          )
            .icon-container
              icon-x
  .row
    tag-selector(
      :selectedTags="tags"
      :tagAddHandler="tagAddHandler"
      :tagRemoveHandler="tagRemoveHandler"
    )
  .row
    .spacer
    .container-export
      a.download
      button.export(
        @click='exportCsv'
      )
        .icon-container
          icon-download
        span Export
    .container-submit
      button.submit(
        @click='apply'
      )
        .icon-container
          icon-file-text
        span Apply
