.report-filters
  label(for='date-filter') Dates:
  date-picker(
    v-model='dateRange'
    type='date'
    range
    format='DD/MM/YY'
    input-class='tl-input'
    :input-attr='{ id: "date-filter" }'
  )
  .spacer
  TagSelector(
    :selectedTags="tags"
    :tagAddHandler="tagAddHandler"
    :tagRemoveHandler="tagRemoveHandler"
  )
  button.submit(@click='apply') Apply
