.report-filters
  label Dates:
    date-picker(
      v-model='dateRange'
      type='date'
      range
      format='DD/MM/YY'
      input-class='tl-input'
    )
  label Tags:
    input.tags(v-model='tags')
  button.submit(@click='apply') Apply
