@import "../../styles/colors.less";
@import 'vue2-datepicker/index.css';

.report-filters {
  display: flex;
  justify-content: space-between;
  margin-top: 2.4rem;
  padding: 1.2rem;
  border: 1px solid @dark;
  border-radius: 3px;
  /deep/ input,
  input {
    margin: 0 1.2rem;
  }
}
