.entry-list-item
  EntryInput(
    v-if="editing"
    :entry="entry"
    :cancelable="true"
    :deletable="true"
    @delete="editing = false"
    @submit="editing = false"
    @cancel="editing = false"
  )
  EntryDisplay(
    v-if="!editing"
    :entry="entry"
    :showUser="showUser"
    :clickTagHandler="clickTagHandler"
    :clickDateHandler="clickDateHandler"
    :clickUserHandler="clickUserHandler"
    @edit="editing = true"
  )
