.entry-list-item
  EntryInput(
    v-if='editing'
    :entry='entry'
    @submit='editing = false'
  )
  EntryDisplay(
    v-if='!editing'
    :entry='entry'
    :clickTagHandler="clickTagHandler"
    :clickDateHandler="clickDateHandler"
    @edit='editing = true'
  )
