.fields
  .icon-container(
    :class="fieldsToggle.date ? 'active' : ''"
    v-if="fieldsToggleBoundaries.date === null"
    @click="clickField('date')"
  )
    icon-calendar
  .icon-container(
    :class="fieldsToggle.duration ? 'active' : ''"
    v-if="fieldsToggleBoundaries.duration === null"
    @click="clickField('duration')"
  )
    icon-clock
  .icon-container(
    :class="fieldsToggle.tags ? 'active' : ''"
    v-if="fieldsToggleBoundaries.tags === null"
    @click="clickField('tags')"
  )
    icon-tag
  .icon-container(
    :class="fieldsToggle.user ? 'active' : ''"
    v-if="fieldsToggleBoundaries.user === null"
    @click="clickField('user')"
  )
    icon-user
    
