selector-base(
  :selectedItems="selectedItems"
  :itemSuggestions="itemSuggestions"
  :inputTabindex="1"
  :itemAddHandler="userAddHandler"
  :itemRemoveHandler="userRemoveHandler"
  :inputItemPartialHandler="inputItemPartialHandler"
  :resetHandler="resetHandler"
  @reset="itemSuggestions = []"
)
  template(v-slot:icon-item)
    icon-user
