/*
  .row.row-top
    .container-datepicker.no-grow
      .faux-input
        .icon-container
        date-picker
    .container-duration.no-grow
      .faux-input
        .icon-container
        input.duration
    .container-tag-selector.grow
      tag-selector
    .container-delete.no-grow
      button.delete
    .container-cancel.no-grow
      button.cancel
  .row.row-bottom
    .container-description.grow
      .faux-input
      .icon-container
      input.description
    .container-submit.no-grow
      button.submit
*/

@import "../../styles/colors.less";

.entry-input {
  margin: 3.6rem 1.2rem;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 0.6rem 0;
  > .no-grow {
    flex-grow: 0;
  }
  > .grow,
  > .spacer {
    flex-grow: 1;
  }
  > div {
    padding-right: 0.6rem;
    &:last-child {
      padding-right: 0rem;
    }
  }
}

.container-datepicker {
  /deep/ .mx-input {
    border: none;
    box-shadow: none;
    --webkit-box-shadow: none;
    // background-color: blue;
    border-radius: 0;
    // line-height: 1.8rem;
    height: auto;
    &:focus {
      outline: none;
    }
  }
}

.faux-input {
  border-width: 1px;
  border-style: solid;
  border-color: @dark;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3.4rem;
  .icon-container {
    flex-grow: 0;
    > svg {
      width: 1.8rem;
      height: 1.8rem;
      top: 2px;
    }
  }
  input {
    // background-color: blue;
    border: none;
    outline: none;
    padding: 0.6rem;
    width: 100%;
  }
}

.container-submit {
  button.submit {
    background-color: transparent;
    border: 1px solid transparent;
    // background-color: blue;
    height: 3.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    .icon-container {
      > svg {
        width: 1.8rem;
        height: 1.8rem;
      }
    }
  }
}

// .entry-input {
//   .row {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     width: 100%;
//     .spacer {
//       flex-grow: 1;
//     }
//     > * {
//       flex-grow: 0;
//     }
//   }
//   /deep/ .mx-datepicker {
//     width: 10rem;
//     margin: 1.2rem;
//     .mx-input {
//       border-radius: 3px;
//     }
//   }
//   .duration {
//     width: 5rem;
//     flex-grow: 0;
//   }
//   .date {
//     margin: 1.2rem;
//     padding: 0.6rem;
//   }
//   .duration,
//   .description {
//     border: 1px solid @grey;
//     border-radius: 3px;
//     &:focus {
//       outline: 1px auto @grey;
//     }
//   }
//   input {
//     flex-grow: 1;
//     margin: 1.2rem;
//     padding: 0.6rem;
//   }
//   button {
//     margin: 1.2rem;
//     background-color: inherit;
//     border: none;
//     color: @dark;
//
//     svg {
//       width: 1.8rem;
//       height: 1.8rem;
//       position: relative;
//       top: 3px;
//       margin-right: 0.6rem;
//     }
//   }
// }
