@import "../../../../styles/colors.less";

.entry-display {
  display: flex;
  flex-direction: flex-row;
  align-items: center;
  .date,
  .tag,
  .duration,
  .description {
    cursor: pointer;
  }
  .date,
  .tag,
  .duration,
  .description {
    flex-grow: 0;
  }
  .spacer {
    flex-grow: 1;
    margin: 0 2.4rem;
    height: 1px;
    background-color: #f0f0f0;
  }
  .date,
  .tag,
  .duration {
    padding: 0.6rem;
    margin: 0.6rem;
    border-radius: 3px;
  }
  .date {
    background-color: @blue;
  }
  .duration {
    background-color: @blue;
  }
  .tag {
    background-color: @green;
  }
  .description {
    padding: 0.6rem;
    margin: 0.6rem;
  }
}
