.page.page-dashboard
  .container
    entry-input
    duration-by-day
    entry-list(
      :clickDateHandler="clickDateHandler"
      :clickTagHandler="clickTagHandler"
      :entries="entries"
      :fetchMoreEntries="fetchMoreEntries"
      :fieldsToggleBoundaries="fieldsToggleBoundaries"
      :loading="loading"
    )
