.error-force-log-out
  h3 User Error
  p Some sort of error has occurred so we had to log you out.
  div(
    class="flex justify-end mt-4"
  )
    tpl-button(
      iconName="log-out"
      @click.native="clickOk"
    )
      icon(
        name="log-out"
      )
      span Log Out
